/* Add CSS Styling */
.B1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.B1#id1 {
    background-color: black;
    color:white;
}

.B1#id2 {
    background-color: yellow;
    color:black;
}